<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- favicon -->
    <link rel="shortcut icon" href="/static/img/sw.png">
    <script src='https://code.jquery.com/jquery-3.1.0.min.js' defer></script>
    <script src="static/js/main.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>The world of star wars</title>
    <title>Document</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse">
        <div class="conatiner-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> Star wars universe planets </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/log-in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <!-- Body -->
    <div class="container">
        <div class="jumbotron">
            <h1> Star Wars universe planets </h1>
            <div id = "nextPreviousPage">

            </div>
        </div>

    <!-- Table -->
        <table class="table table-bordered table-hover" id="planetTable" border="1">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Diameter </th>
                    <th> Climate </th>
                    <th> Terrain </th>
                    <th> Water </th>
                    <th> Population </th>
                    <th> Residents </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="modal" id="residentsModal" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title"> Residents </h4>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered table-hover" id="residentsTable" border="1">
                                        <thead>
                                             <tr>
                                                 <th> Name </th>
                                                 <th> Height </th>
                                                 <th> Mass </th>
                                                 <th> Hair color </th>
                                                 <th> Skin color </th>
                                                 <th> Eye color </th>
                                                 <th> Birth year </th>
                                                 <th> Gender </th>
                                             </tr>
                                         </thead>
                                         <tbody id="residentsTableBody">
                                            
                                         </tbody>
                                     </table>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" data-dismiss="modal"> Close </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>