<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- favicon -->
    <link rel="shortcut icon" href="/static/img/Star-Wars-Logo_Silver.png">
    <title>The world of star wars</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse">
        <div class="conatiner-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> Star wars universe planets </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/log-in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <!-- Body -->
    <div class="container">
        <div class="jumbotron">
            <h1> Star Wars universe planets </h1>
            <button class="btn btn-info"> Previous </button>
            <button class="btn btn-info"> Next </button>
        </div>

    <!-- Table -->
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Diameter </th>
                    <th> Climate </th>
                    <th> Terrain </th>
                    <th> Water </th>
                    <th> Population </th>
                    <th> Residents </th>
                </tr>
            </thead>
            <tbody>
                {% for dict_item in planet_info %}  
                <tr>
                    <td>{{ dict_item['name'] }}</td>
                    <td>{{ dict_item['diameter'] }}</td>
                    <td>{{ dict_item['climate'] }}</td>
                    <td>{{ dict_item['terrain'] }}</td>
                    <td>{{ dict_item['surface_water'] }} %</td>
                    <td>{{ dict_item['population'] }}</td>
                    {% if dict_item['residents']==[] %}
                        <td> No known residents</td>
                    {% else %}
                        <td><button> {{ dict_item['residents']|length }} residents</button> </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>